<div class="">
  <section class="flex flex-col pt-7 pl-9 pr-8">
    <div class="flex flex-col content-start items-start gap-7 relative">
      <div class="w-[52%]">
        <img src="https://cdn.shopify.com/s/files/1/0648/4606/9896/files/Screenshot2024-09-20at7.30.50PM.png?v=1726878666" alt="" class="rounded-8">
      </div>
      <div class="flex flex-col max-w-[25.5%] w-full mb-20 h-[25.5vw]">
        <div class="flex justify-between flex-1">
          <div><img src="{{ 'dollar.png' | asset_img_url }}" alt="" class="w-3 h-4"></div>
          <div class="square-small animate-move-vertical animate-vertical-pc bg-purple-300 w-[38px] h-[38px] rounded-8 shadow-squares"></div>
        </div>
        <div class="flex content-center flex-1">
          <div class="w-1/2 flex justify-center">
            <div class="square-large animate-move-vertical2 animate-vertical-pc2 bg-purple-600 w-[22.5px] h-[22.5px] rounded-5 shadow-squares"></div>
          </div>
          <div class="w-1/2 flex justify-center items-end">
            <div><img src="{{ 'dollar.png' | asset_img_url }}" alt="" class="w-4 h-5"></div>
          </div>
        </div>
      </div>
      <div class="absolute bottom-5 right-0 rounded-12 p-4 bg-white max-w-[65.5%] shadow-combined">
        <div class="text-transparent bg-span-linear bg-clip-text text-xl mb-3 pr-5">
          Sweater in Everyday Cotton
        </div>
        <div class="text-text-blue text-xs mb-4">
          The perfect boxy-fit sweater, The Boxy Sweater in Everyday Cotton is a layering essential. Featuring a chunky rib stitch at the crew neckline, along the hem, and sleeve cuffs, it has dropped shoulders for a relaxed edge. It's made with 100% organic cotton, and designed to be styled solo or easily topped with a blazer or cardigan
        </div>
        <div class="text-text-blue2 text-base mb-2">
          Color: Fennel-seed
        </div>
        <div class="flex gap-2 mb-4">
          <div class="w-5 h-5 p-[2.5px] rounded-12 border-selected border-black">
            <div class="rounded-12 bg-yellow-800 h-full"></div>
          </div>
          <div class="w-5 h-5 p-[2.5px] rounded-12 border-default border-slate-300">
            <div class="rounded-12 bg-lime-400 h-full"></div>
          </div>
        </div>
        <div class="w-full rounded-80 bg-[#341188] pt-2 pb-2 flex justify-center text-white text-base gap-[7px]">
          Add to Cart
          <div class="h-full w-[2px] rounded-12 bg-white"></div>
          $40
        </div>
      </div>
    </div>
    <div class="flex-col">
      <div class="text-4xl text-transparent bg-span-linear bg-clip-text">Start making<br> money from all your <br>returns</div>
      <div>Built for shopify merchants of all sizes.</div>
      <div class="flex">
        <div>but1</div>
        <div>but2</div>
      </div>
    </div>
    <img src="{{ 'bg-mob.svg' | asset_img_url }}" alt="" class="absolute filter-invis-mob left-9 -z-10">
  </section>
  {% comment %} {% render 'site-nav' %} {% endcomment %}
  <style>
    .filter-invis-mob{
      filter: linear-gradient(to right, rgba(166, 136, 202, 0) 0%, #E040F9 13%, #FCF9FF 100%)
    }
    #shopify-section-header, #shopify-section-footer{
      display: none;
    }
  </style>
</div>

{% schema %}
  {
    "name": "Hero Image2",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image 233"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Hero image + text block</p>"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Moving image",
        "category": "Image"
      }
    ]
  }
{% endschema %}