@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

}

@media (max-width: 767px) {

}

.header-button{
  border-radius: 3px;
  text-decoration: none; 
  background: #3CD84C;
  color: #ffffff
}

.header-section {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
}

body{
 margin: 0 
}